<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Entitlements.plist
   pulse.eco

   Created by Filip Sardjoski on 12/4/19.
   Copyright (c) 2019 Netcetera AG. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
